:root {
    --topic-color: #212121;
    --text-color: #757575;
}
/* NAVIGATION */
header {
    background-color: #FFFFFF;
}
.logo {
    color: #000000;
}
.logo-firstpart {
    color: #2196F3;
}
.main-nav-link {
    color: #212121;
    cursor: pointer;
}
.main-nav-link:hover,
.main-nav-link:focus {
    color: #2196F3;
}
.contact-link {
    color: #757575;
    cursor: pointer;
}
.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}
/* HERO */
.hero {
    background-color: #2F303A;
}
h1 {
    color: #FFFFFF;
}
.button {
    color: #FFFFFF;
}
/* Our advantages section *//* What we do section *//* Our team section color text*/
.advantages {
    background-color: #F5F5F5;
}
.topic {
    color: var(--topic-color);
}
.topic-text {
    color: var(--text-color);
}

/* Our team section */
.team {
    background-color: #F5F4FA;
}




/* FOOTER */
footer {
    background-color: #2F303A;
}
.footer-link {
    color: #FFFFFF;
}
.footer-link-second {
    color: rgba(255, 255, 255, 0.6);
}