:root {
    --topic-color: #212121;
    --text-color: #757575;
    --button-color: #2196F3;
    --main-background-color: #F5F5F5;
}
/* NAVIGATION */
header {
    background-color: #FFFFFF;
}
.logo {
    color: #000000;
}
.logo-firstpart {
    color: #2196F3;
}
.main-nav-link {
    color: var(--topic-color);
    cursor: pointer;
}
.main-nav-link:hover,
.main-nav-link:focus {
    color: var(--button-color);
}
.contact-link {
    color: #757575;
    cursor: pointer;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--button-color);
}
/* HERO */
.hero {
    background-color: #2F303A;
}
h1 {
    color: #FFFFFF;
}
.button {
    background-color: var(--button-color);
}
.button-text {
    color: #FFFFFF;
}
/* Our advantages section *//* What we do section *//* Our team section color text*/
.advantages {
    background-color: var(--main-background-color);
}
.topic {
    color: var(--topic-color);
}
.topic-text {
    color: var(--text-color);
}

/* Our team section */
.team {
    background-color: var(--main-background-color);
}




/* FOOTER */
footer {
    background-color: #2F303A;
}
.footer-logo {
    color: #FFFFFF;
}
.footer-link {
    color: #FFFFFF;
}
.footer-link-second {
    color: rgba(255, 255, 255, 0.6);
}
/* PORTFOLIO */
.work-examples {
    background-color: var(--main-background-color);
}
.secondary-button {
    background-color: var(--main-background-color);
}
.secondary-button-text {
    color: var(--text-color);
}
.secondary-button:hover,
.secondary-button:focus {
    background-color: var(--button-color);
}
.secondary-button-text:hover,
.secondary-button-text:focus {
    color: #FFFFFF;
}